main {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  color: white;

  h2 {
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
  }

  h3 {
    text-align: center;
    font-size: 1.8rem;
  }

  ul {
    margin: 2rem auto;
    width: 90%;

    li {
      min-width: 300px;
      font-size: 1.2rem;
      margin: 1rem;
      left: 0;
    }
  }
}

#about {
  margin-top: 15%;
  font-size: 1.5rem;
  img {
    margin: 0.5rem;
    float: left;
    width: 250px;
  }
  p {
    line-height: 2rem;
    text-indent: 3rem;
  }

  @media screen and (width <= 430px) {
    img {
      display: flex;
      margin: 0 auto;
      float: none;
    }
  }
}

.top img {
  &:hover {
    cursor: pointer;
  }
  width: 3%;
  position: fixed;
  left: 50%;
  right: 0;
  top: 0;
  margin: auto;
  transition: 0.2s;
  min-width: 30px;
}

#skills,
#projects {
  margin-top: 50vh;
}

#projects {
  min-height: 100vh;
  @media screen and (width < 510px) {
    ul li p {
      font-size: 1rem;
    }
  }
  @media screen and (width > 700px) {
    
    ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1);
    }
  }
  @media screen and (width > 1425px) {
    ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1);
    }
  }
  ul {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto, auto);
    grid-template-rows: repeat(auto, auto);
    gap: 1rem;
  }
  p {
    z-index: 999;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;
    font-weight: 900;
    text-shadow: 0 0 8px black;
  }
  a {
    img {
      &:hover {
        filter: blur(0px);
      }
      transition: 0.2s;
      width: 100%;
      min-width: 300px;
      filter: blur(4px);
    }
  }
}
