main {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  color: white;

  h2 {
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
  }

  h3 {
    text-align: center;
    font-size: 1.8rem;
  }

  ul {
    margin: 2rem auto;
    width: 90%;

    li {
      font-size: 1.2rem;
      margin: 1rem;
      left: 0;
    }
  }
}

.about-p {
    line-height: 2rem;
    text-indent: 3rem;
}

.top img {
    &:hover {
        cursor: pointer;
    }
    width: 3%;
    position: fixed;
    left: 30%;right: 0;top: 0;
    margin: auto;
    transition: .2s;
}

#about, #skills, #projects {
    height: 100vh;
}

#projects {
    @media screen and (width <= 1230px) {
        ul {
            flex-direction: column;
        }
    }
  ul {
    display: flex;
    
    }
    p {
        
        z-index: 999;
        margin-top: .5rem;
        margin-left: .5rem;
        position: absolute;
        font-weight: 900;
        text-shadow: 0 0 8px black;
    }
    a {
      img {
        &:hover {
            filter: blur(0px);
        }
        transition: .2s;
        width: 100%;
        filter: blur(4px)
        
      }
    }
  }

