header {
  display: flex;
  max-width: 1250px;
  height: 7vh;
  margin: auto;

  @media screen and (width <= 1650px) {
    h1 {
      top: -100px;
    }
  }

  h1 {
    position: absolute;
    left: 2vh;
    color: white;
    font-size: 2rem;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    li {
      color: white;
      font-size: 2rem;
      a {
        margin: 0 0.5rem;
        img {
          height: 2rem;
        }
      }
    }
  }
  
  p {
    margin: 0 auto;

    a {
      position: absolute;
      font-size: 2rem;
      color: white;
      text-decoration: none; 

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 2px;
        background: white;
        transform: scale(0);
        transition: 0.2s all ease-out;
      }

      &:hover::after {
        cursor: pointer;
        transform: scale(1);
      }
    }
    
  }
    
}
@media screen and (width <= 1000px) {
          header p a {
            font-size: 1.5rem;
        }
        header ul li {
          font-size: 1.5rem;
          a img {
          width: 1.5rem
          }
        }
  }

  @media screen and (width <= 800px) {
    header p {
      margin: 0 7rem 0 0;
    }
    header ul {
      justify-content: end;
    }
    .a-img-1, .a-img-2, .a-img-3 {
      position: absolute;
      right: 0;
    }
    .a-img-2 {
      top: 2rem;
    }
    .a-img-3 {
      top: 4rem;
    }
}

@media screen and (width <= 500px) {
  header p {
    margin: 0 5rem 0 0;
    a {
      font-size: 1.3rem;
    }
  }
  header ul li {
    font-size: 1.3rem;
  }
}

@media screen and (width <= 410px) {
  header p {
    margin: 0 5rem 0 0;
    a {
      font-size: 1.3rem;
    }
  }
  .contact {
    position: absolute;
    top: -10rem;
    right: 0;
  }
}