* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to bottom, rgb(65, 65, 65), rgb(105, 105, 105));
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: monospace, sans-serif;
}

a:link:visited {
  color: aliceblue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

button:hover, input:hover {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

header {
  display: flex;
  max-width: 1250px;
  height: 7vh;
  margin: auto;
}
header h1 {
  position: absolute;
  left: 2vh;
  color: white;
  font-size: 2rem;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
header ul li {
  color: white;
  font-size: 2rem;
}
header ul li a {
  margin: 0 0.5rem;
}
header ul li a img {
  height: 2rem;
}
header p {
  margin: 0 auto;
}
header p a {
  position: absolute;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
header p a::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background: white;
  transform: scale(0);
  transition: 0.2s all ease-out;
}
header p a:hover::after {
  cursor: pointer;
  transform: scale(1);
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  color: white;
}
main h2 {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
}
main h3 {
  text-align: center;
  font-size: 1.8rem;
}
main ul {
  margin: 2rem auto;
  width: 90%;
}
main ul li {
  font-size: 1.2rem;
  margin: 1rem;
  left: 0;
}

#projects ul {
  display: flex;
}
#projects ul p {
  z-index: 999;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  position: absolute;
  font-weight: 900;
  text-shadow: 0 0 8px black;
}
#projects ul a img {
  transition: 0.2s;
  width: 100%;
  filter: blur(4px);
}
#projects ul a img:hover {
  filter: blur(0px);
}