* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(28, 28, 66);
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: monospace, sans-serif;
}

a:link:visited {
  color: aliceblue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

button:hover,
input:hover {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

/* NAVIGATION */

header {
  color: white;
  z-index: 100;
  display: flex;
  position: fixed;
  justify-content: space-between;
  max-width: 1250px;
  margin: auto;
  left: 0;
  right: 0;
}

.menu {
  display: flex;
  font-size: 3rem;
  width: fit-content; 
  transition: width .01s;
}

.menu p {
  padding-bottom: 1px solid red;
}

@media screen and (width < 750px) {

  .menu, .message-me {
    margin: 0 .5rem;
  }

  .menu:hover .menu-expand a p,
  .menu.menu-open .menu-expand a p {
    opacity: 100;
  }

  .menu p {
    font-size: 1.6rem;
  }

  .menu-expand p {
    font-size: 1.4rem;
  }

  .menu-expand {
    margin-top: 1.5rem;
    flex-direction: column;
  }
  
  /* Adjust the left positioning to scale down with the font-size */

  /* Adjust hover effects for smaller screens */
  .menu:hover .menu-1,
  .menu.menu-open .menu-1 {
    left: 0rem;
  }
  .menu:hover .menu-2,
  .menu.menu-open .menu-2 {
    left: 1rem;
  }
  .menu:hover .menu-3,
  .menu.menu-open .menu-3 {
    left: 2rem;
  }
  .menu:hover .menu-4,
  .menu.menu-open .menu-4 {
    left: 3rem;
  }
  .menu:hover .menu-5,
  .menu.menu-open .menu-5 {
    left: 4rem;
  }
  .menu:hover .menu-6,
  .menu.menu-open .menu-6 {
    left: 5rem;
  }
  .menu:hover .menu-7,
  .menu.menu-open .menu-7 {
    left: 6rem;
  }
  .menu:hover .menu-8,
  .menu.menu-open .menu-8 {
    left: 7rem;
  }
  .menu:hover .menu-9,
  .menu.menu-open .menu-9 {
    left: 8rem;
  }
  .menu:hover .menu-10,
  .menu.menu-open .menu-10 {
    left: 9rem;
  }
  .menu:hover .menu-11,
  .menu.menu-open .menu-11 {
    left: 10rem;
  }
  .menu:hover .menu-12,
  .menu.menu-open .menu-12 {
    left: 11rem;
  }
  .menu:hover .menu-13,
  .menu.menu-open .menu-13 {
    left: 12rem;
  }
}

.menu-1,
.menu-2,
.menu-3,
.menu-4,
.menu-5,
.menu-6,
.menu-7,
.menu-8,
.menu-9,
.menu-10,
.menu-11,
.menu-12,
.menu-13 {
  padding-bottom: 1px solid red;
  position: absolute;
  left: 5rem;
  opacity: 0;
  transition: opacity 0.1s, left 0.3s;
}

/* Hover effect */

@media screen and (width >= 750px) {
  .menu:hover .menu-expand a p,
.menu.menu-open .menu-expand a p {
  opacity: 100;
}

.menu:hover,
.menu.menu-open {
  width: 28rem;
}

/* Hover and click effect for each menu item */
.menu:hover .menu-1,
.menu.menu-open .menu-1 {
  left: 7.5rem;
}
.menu:hover .menu-2,
.menu.menu-open .menu-2 {
  left: 9rem;
}
.menu:hover .menu-3,
.menu.menu-open .menu-3 {
  left: 10.5rem;
}
.menu:hover .menu-4,
.menu.menu-open .menu-4 {
  left: 12rem;
}
.menu:hover .menu-5,
.menu.menu-open .menu-5 {
  left: 13.5rem;
}
.menu:hover .menu-6,
.menu.menu-open .menu-6 {
  left: 16rem;
}
.menu:hover .menu-7,
.menu.menu-open .menu-7 {
  left: 17.5rem;
}
.menu:hover .menu-8,
.menu.menu-open .menu-8 {
  left: 19rem;
}
.menu:hover .menu-9,
.menu.menu-open .menu-9 {
  left: 20.5rem;
}
.menu:hover .menu-10,
.menu.menu-open .menu-10 {
  left: 22rem;
}
.menu:hover .menu-11,
.menu.menu-open .menu-11 {
  left: 23.5rem;
}
.menu:hover .menu-12,
.menu.menu-open .menu-12 {
  left: 25rem;
}
.menu:hover .menu-13,
.menu.menu-open .menu-13 {
  left: 26.5rem;
}
}

.menu-expand {
  display: flex;
  flex-direction: column;
}

.menu-expand a {
  left: 10px;
  margin: 0;
  transition: margin .3s;
}

.menu-expand p {
  color: antiquewhite;
}

.message-me {
  margin-top: 0.5rem;
  font-size: 3rem;
}

@media screen and (width < 750px) {
  .message-me {
    font-size: 1.6rem;
  }  
}

.message-me-moving-padding {
  position: absolute;
  z-index: -1;
  top: 0.4rem;
  background-color: red;
  width: 300px;
  padding: 1px;
  margin-bottom: 3rem;
  transition: top 0.5s, width 0.5s;
}

.message-me:hover .message-me-dropdown {
  top: 3rem;
  opacity: 1;
}

.message-me:hover .message-me-moving-padding {
  top: 7.2rem;
  width: 200px;
}

.message-me-dropdown {
  z-index: -1;
  padding-top: 1rem;
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}

.message-me-dropdown li a img {
  height: 3rem;
}

/* ABOUT */

.top {
  height: 1px;
}

#about, .about-me {
  height: 100vh;
  padding: 1px;
}

.about-me p, .about-me img {
  position: absolute;
  --a: 8deg;
  aspect-ratio: 1;
  cursor: pointer;
}

.about-me img {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(28, 28, 66) 50%);
  box-shadow: 3px 3px 8px 20px red;
  border-radius: 1rem;
  animation: aboutMeImg 1s forwards;
}

.about-me p {
  padding-left: 1rem;
  color: white;
  line-height: 2rem;
  font-size: 1.4rem;
  max-width: 500px;
  animation: aboutMeP 1s forwards;
}

.about-me {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width <= 900px ) {

  .about-me img {
    max-height: 40%;
    font-size: .7rem;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(28, 28, 66) 80%);
  }

  .about-me {
    height: 55%;
    display: flex;
    flex-direction: column;
  }

  .about-me p, .about-me img {
    position: none;
    --a: 8deg;
    aspect-ratio: 1;
    cursor: pointer;
  }

  @keyframes aboutMeImg {
    0% {
      height:10%;
      transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,0)*var(--a)));
    } 
    100% {
      height: 100%;
      transform: perspective(1000px) rotate3d(var(--r,-1,0),0,calc(var(--i,1)*var(--a)));
    }
  }

  @keyframes aboutMeP {
    0% {
      opacity: 0;
      width: 80%;
    } 
    100% {
      font-size: 1rem;
      margin-top: 600px;
      width: 80%;
    }
  }
}

@media screen and (width > 900px ) {
  .about-me img {
  max-height: 450px;
  }
}

@media screen and (width > 900px ) {
  @keyframes aboutMeImg {
    0% {
      height:10%;
      transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,0)*var(--a)));
    } 
    100% {
      height: 100%;
      margin-right: 350px;
      transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,2)*var(--a)));
    }
  }

  @keyframes aboutMeP {
    0% {
      opacity: 0;
      transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,-2)*var(--a)));
    } 
    100% {
      margin-left: 350px;
      transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,-2)*var(--a)));
    }
  }
}

/* SKILLS */

#skills {
  margin-top: 12.5vh;
  padding: 5rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(28, 28, 66), rgb(66, 66, 145) 10% 90%);
}



#skills h2 {
  color: white;
  margin-top: 0;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

#skills span {
  max-width: 1450px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  left: -2000px;
  background-image: linear-gradient(to left, );
  transition: left 1s;
}

#skills span div {
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.11);
  max-width: 30%; 
  min-width: 250px;
  margin: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: .3rem;
}

@media screen and (width<900px) {
  #skills span div {
    max-width: 100%;
    margin: .5rem;
 }
 #skills {
  padding: 5rem 1rem;
 }
}

#skills span div p, 
#skills span div ul li {
  line-height: 1.75rem;
  font-size: .9rem;
}

#skills span div ul {
  display: flex;
  flex-wrap: wrap;
}

#skills span div ul li, #skills span div p {
  margin: 0 1rem;
  color: white;
}

#skills span div ul li {
  text-decoration: underline;
}

#skills span div h3 {
  line-height: 2.5rem;
  border-radius: .3rem;
  padding: .2rem;
  font-weight: 300;
  font-size: 2.3rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  text-decoration: underline red;
}

#projects img {
  max-height: 450px;
}

/* PROJECTS */

#projects {
  color: white;
  z-index: -10;
  width: 100vw;
  height: 100%;
  min-height: 50vh;
  background-color: rgb(66, 66, 145);
  text-align: center;
}

#projects ul {
  display: flex;
  height: auto;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

#projects img {
  height: 100%;
}

.projects-transition {
  display: flex;
  position: relative;
  top: 40px;
  width: 100%;
  --a: 8deg;
  aspect-ratio: 1;
  height: 300px;
  transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,0)*var(--a)));
  transition: transform 0.45s, height 0.45s, top 0.45s;
}

.increment-btn, .decrement-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 10%;
  z-index: 20;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(8px);
  color: white;
  height: 0%;
  opacity: 0;
  transition: height 0.45s ease-in-out, opacity 0.45s ease-in-out;
}

.increment-btn {
  right: 0;
}

.projects-tilt-right {
  position: none;
  top: 0;
  bottom: 20px;
  height: 100px;
  transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,5)*var(--a)));
}

.projects-tilt-left {
  position: none;
  top: 0;
  height: 100px;
  transform: perspective(1000px) rotate3d(var(--r,0,1),0,calc(var(--i,-5)*var(--a)));
}

@media screen and (min-height: 900px) {
  .project-details {
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(8px);
  z-index: 1;
  position: absolute;
  bottom: 0;right: 0;left: 0;
  margin: auto;
  width: 80%;
  height: 0%;
  transition: height 0.45s ease-in-out;
}

.project-details-header {
  font-size: 1.8rem;
}
}

@media screen and (max-height: 900px) {
  .project-details {
  color: white;
  font-size: .8rem;
  background-color: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(8px);
  z-index: 1;
  position: absolute;
  bottom: 0;right: 0;left: 0;
  margin: auto;
  width: 80%;
  height: 0%;
  transition: height 0.45s ease-in-out;
}

.project-details-header {
  font-size: 1.4em;
}
}

.project-details p {
  opacity: 0;
  transition: opacity 0.45s ease-in-out .25s;
}

.project-details.show p, 
.increment-btn.show, 
.decrement-btn.show {
  opacity: 1;
}

@media screen and (width < 900px) {
  .selected-project-position.move {
    margin: 0 auto;
    position: absolute;
    width: 220px;
    height: 170px;
  }
}

@media screen and (width >= 900px) {
  .selected-project-position.move {
    margin: 0 auto;
    position: absolute;
    width: 220px;
    height: 300px;
  }
}

.project-ul-position {
  padding: 30%;
  width: 100%;
}

@media screen and (width > 1300px) {
  .project-ul-position {
    padding: 20%;
    width: 100%;
  }
}