* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to bottom, rgb(65, 65, 65), rgb(105, 105, 105));
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: monospace, sans-serif;
}

a:link:visited {
  color: aliceblue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

button:hover, input:hover {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

header {
  display: flex;
  max-width: 1250px;
  height: 7vh;
  margin: auto;
}
header h1 {
  position: absolute;
  left: 2vh;
  color: white;
  font-size: 2rem;
}
@media screen and (width <= 1650px) {
  header ul {
    margin: 1rem;
  }
}
header ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
header ul li {
  color: white;
  font-size: 2rem;
}
header ul li a {
  margin: 0 0.5rem;
}
header ul li a img {
  height: 2rem;
}
header p {
  margin: 0 auto;
}
header p a {
  position: absolute;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
header p a::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background: white;
  transform: scale(0);
  transition: 0.2s all ease-out;
}
header p a:hover::after {
  cursor: pointer;
  transform: scale(1);
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
  color: white;
}
main h2 {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
}
main h3 {
  text-align: center;
  font-size: 1.8rem;
}
main ul {
  margin: 2rem auto;
  width: 90%;
}
main ul li {
  font-size: 1.2rem;
  margin: 1rem;
  left: 0;
}

#about {
  margin-top: 15%;
  font-size: 1.5rem;
}
#about img {
  margin: 0.5rem;
  float: left;
  width: 250px;
}
#about p {
  line-height: 2rem;
  text-indent: 3rem;
}
@media screen and (width <= 430px) {
  #about img {
    display: flex;
    margin: 0 auto;
    float: none;
  }
}

.top img {
  width: 3%;
  position: fixed;
  left: 30%;
  right: 0;
  top: 0;
  margin: auto;
  transition: 0.2s;
}
.top img:hover {
  cursor: pointer;
}

#about,
#skills,
#projects {
  height: 100vh;
}

@media screen and (width <= 1230px) {
  #projects ul {
    flex-direction: column;
  }
}
#projects ul {
  display: flex;
}
#projects p {
  z-index: 999;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  position: absolute;
  font-weight: 900;
  text-shadow: 0 0 8px black;
}
#projects a img {
  transition: 0.2s;
  width: 100%;
  filter: blur(4px);
}
#projects a img:hover {
  filter: blur(0px);
}